.auth-form-container {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 5%,
    rgba(11, 24, 131, 1) 9%,
    rgba(26, 130, 201, 1) 38%,
    rgba(35, 195, 244, 0.9429972672662815) 57%
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  font-size: x-large;
}

.auth-form-container h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.register-form label {
  text-align: left;
  margin-top: 1rem;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: medium;
  margin-top: 0.5rem;
}

.register-form select {
  appearance: none;
}

.register-form button {
  background-color: #3eee9c;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  font-size: large;
}

.register-form button:hover {
  background-color: #6a4daa;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1rem;
}

.link-btn:hover {
  color: #f7f7f7;
}
.login-form label {
  text-align: left;
  margin-top: 1rem;
}

.login-form input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: large;
  margin-top: 0.5rem;
}

.login-form button {
  background-color: #3eee9c;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  font-size: large;
}

.login-form button:hover {
  background-color: #6a4daa;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 1rem;
}

.link-btn:hover {
  color: #f7f7f7;
}
