.timetable-container {
  margin: 110px 20px 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timetable-container h1 {
  text-align: center;
  color: #333;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
}

.timetable th,
.timetable td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  color: #333;
}

.timetable th {
  background-color: #f2f2f2;
  color: #333;
}

.timetable-container h1 {
  text-align: center;
  color: #333;
}

.day-container {
  margin-bottom: 20px;
}

.day-container h2 {
  color: #444;
  margin-bottom: 10px;
}

.subject-list {
  list-style: none;
  padding: 0;
}

.subject-list li {
  background-color: #e3e3e3;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.add-subject-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.add-subject-btn:hover {
  background-color: #45a049;
}

.delete-subject-btn {
  background-color: #f44336;
  color: black;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 12px;
}

.delete-subject-btn:hover {
  background-color: #d32f2f;
}

.subject-cell {
  position: relative;
  padding: 8px;
}

.subject-content {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  display: none;
  border-radius: 0 6px;
}

.subject-content:hover .delete-button {
  display: block;
}
